<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RequestLogMapper">
    
   
	<insert id="insertRequestLog" parameterType="SysRequestLog" >
    insert into sys_request_log (LOG_ID, BEGIN_TIME, END_TIME, 
      REQUEST_TIME, LOGIN_NAME, SESSION_ID, 
      SCHEME, SERVER_NAME, SERVER_PORT, 
      REQUEST_URI, METHOD, REQUEST_PARAMS, 
      MOBILE_PAT, CHARACTER_ENCODING, CONTENT_LENGTH, 
      LOCAL_ADDR, LOCAL_NAME, LOCAL_PORT, 
      JVM_MAX_MEMORY, JVM_TOTAL_MEMORY, JVM_FREE_MEMORY, 
      JVM_USER_MEMORY, CREATE_DATE)
    values (#{logId}, #{beginTime}, #{endTime}, 
      #{requestTime}, #{loginName}, #{sessionId}, 
      #{scheme}, #{serverName}, #{serverPort}, 
      #{requestUri}, #{method}, #{requestParams}, 
      #{mobilePat}, #{characterEncoding}, #{contentLength}, 
      #{localAddr}, #{localName}, #{localPort}, 
      #{jvmMaxMemory}, #{jvmTotalMemory}, #{jvmFreeMemory}, 
      #{jvmUserMemory}, #{createDate})
  </insert>
	
</mapper>